
*{
    font-family: var(--font-family);
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    accent-color: var(--accent-color);
    font-size: var(--root-font-size);
}

html, body {
    width: 100%;
    min-height: 100%;
    /*Custom properties with fallbacks for use when the property has not been set*/
    background-color: var(--dafault-background-color, #FFFFFF);  
}


body{
    font-size: var(--body-font-size);
    font-weight: var(--font-weight);
    text-align: left;
    line-height: var(--line-height-sm);
    @include large{
        line-height: var(--line-height-lg);
    }
    color: var(--default-foreground-color);
    // background-color: var(--color-canvas-default);
}

/* ---------------------------------------------------------------> */
/* This section is requried to always keep the footer at the bottom */
.master-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-print-color-adjust: exact !important;
  }

.main, main {
    flex: 1;
}
/* <--------------------------------------------------------------- */

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
   .container {
        max-width: 540px;
  }
}
@media (min-width: 768px) {
   .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


.left-nav{
    //see _left-nav.scss for more.
    width: 16rem;
    margin-right: 2rem;
}

/*Used in admin panel with left nav*/
.content{
    flex:1;
}

//used in admin panel, optional
aside{
    width: 16rem;
    margin-left: 2rem;
}

.logout-button-container{
    text-align: right;
    a{
        height: 20px;
        color: #3d4e5e; 
        text-decoration: none;
        display: inline-flex;
        img{
            margin-right: 5px;
        }
    }
    >:hover{
        text-decoration: underline;
    }
}