@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    
    --brand-color: green;
    --accent-color: #316dca;
    --form-accent-color: rgb(12, 216, 12);

    --default-hyperlink-color: #539bf5;

    /* Default Background color */
    --dafault-background: #1c2128;
    --default-foreground: #adbac7;
    --default-border: #444c56;

    --muted-background: #22272E;
    --muted-foreground: #768390;
    --muted-border: #373e47;

    --default-fontfamily: 'Source Sans Pro', sans-serif;
    --root-font-size: 100%;   /* Used for <html></html> element */
    /* 
        font-size: 62.5%; // (62.5/100) * 16px = 10px 
     */
    
    --default-font-weight: 400;
    --line-height-lg: 1.5;
    --line-height-sm: 1.15;
    
    --default-radius: 0.25rem;

    /* --color-canvas-default: #22272e;  
    --color-canvas-overlay: #2d333b;   
    --color-canvas-inset: #1c2128;
    --color-canvas-subtle: #2d333b; 

    --color-fg-default: #adbac7;  
    --color-fg-muted: #768390;  
    --color-fg-subtle: #545d68;
    --color-fg-on-emphasis: #cdd9e5;

    --color-border-default: #444c56; 
    --color-border-muted: #373e47; 
    --color-border-subtle: rgba(205,217,229,0.1);

    --accent-color: #316dca;
    --color-accent-fg: #539bf5;
    --color-accent-emphasis: #316dca;
    --color-accent-muted: rgba(65,132,228,0.4);
    --color-accent-subtle: rgba(65,132,228,0.15);

    --form-accent-color: rgb(12, 216, 12);
    --blue-color: #539bf5;
    --brand-color: #FFF; */
}