

.h1{
    --h1-font-size: var(--h1-font-size-sm);
    @include large(){
        --h1-font-size: var(--h1-font-size-lg);
    }
    // --type-heading-h1: 600 var(--h1-font-size)/var(--default-line-height-for-heading) var(--default-font);
    font: 600 var(--h1-font-size)/var(--default-line-height-for-heading) var(--default-font);
}
.h1 {
    font-size: 65.6px;
    font-size: 4.1rem;
    line-height: 50px;
    line-height: 3.125rem;
    word-break: break-word;
    // margin-top: 50px;
    // margin-top: 3.125rem;
    // margin-bottom: 25px;
    // margin-bottom: 1.5625rem; 
}
  

h1,h2,h3 {
    letter-spacing: var(--heading-letter-spacing)
}

h1 {
    line-height: 1.2;
    font-size: calc(0.5rem + 2.5vmin);
    font: var(--type-heading-h1);
    // font-size:5rem;
    // margin-bottom: 2rem;
    word-break: break-word;
}

@media screen and (min-width: 769px) {
    h1 {
        // font:var(--type-heading-h1);
    }
}

h2 {
    font: var(--type-heading-h2);
    // margin: 4rem 0 .5rem
}

h3 {
    font: var(--type-heading-h3);
    // margin: 2rem 0 .5rem
}

h3 {
    font-size: var(--h3-font-size-sm);
    @include large(){
        font-size: var(--h3-font-size-lg);
    }
    letter-spacing: var(--h3-letter-spacing);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height-sm);
    @include large(){
        line-height: var(--h3-line-height-lg);
    }
    margin: var(--h3-margin-sm);
    @include large(){
        margin: var(--h3-margin-lg);
    }
}


h4 {
    font-size: var(--h4-font-size-sm);
    @include large(){
        font-size: var(--h4-font-size-lg);
    }
    letter-spacing: var(--h4-letter-spacing);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height-sm);
    @include large(){
        line-height: var(--h4-line-height-lg);
    }
    margin: var(--h4-margin-sm);
    @include large(){
        margin: var(--h4-margin-lg);
    }
}

h5 {
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    font-weight: 400;
    line-height: var(--h5-line-height-sm);
    @include large(){
        line-height: var(--h5-line-height-lg);
    }
    margin: var(--h5-margin-sm);
    @include large(){
        margin: var(--h5-margin-lg);
    }
}


h6 {
    font-size: var(--h6-font-size);
    letter-spacing: var(--h6-letter-spacing);
    font-weight: 400;
    line-height: var(--h6-line-height-sm);
    @include large(){
        line-height: var(--h6-line-height-lg);
    }
    margin: var(--h6-margin-sm);
    @include large(){
        margin: var(--h6-margin-lg);
    }
}
 
p {
    // font: var(--type-article-p);
    // --type-article-p: 400 var(--type-base-font-size-rem) / var(--font-content-line-height) var(--font-body);

    // font-family: has been set in body
    font-size: 1rem;
    // font-weight: has been set in body
    // line-height: has been set in body
    margin: var(--p-default-margin);
}

/* Makes text upper case*/
.ucase{
    text-transform: uppercase;
}

/* Makes text lower case*/
.lcase{
    text-transform: lowercase;
}

/*capitalizes the first letter of each word*/
.capitalize{
    text-transform: capitalize;
}

// text-align -->
.ta{
    &-left{
        text-align: left;
    }
    
    &-center{
        text-align: center;
    }
    
    
    &-right{
        text-align: right;
    }
    
    &-justify{
        text-align: justify;
    }
}// <--- text-align


.line-throw{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}
.overline{
    text-decoration: overline;
}
.no-underline{
    text-decoration: none !important;
}

.italic{
    font-style: italic;
}

.thin, .fw100{
    font-weight: 100;
}
.extralight, .fw200{
    font-weight: 200;
}
.light, .fw300{
    font-weight: 300;
}
.regular, .fw400{
    font-weight: 400;
}
.medium, .fw500{
    font-weight: 500;
}
.semibold, .fw600{
    font-weight: 600;
}
.bold, .strong, .fw700{
    font-weight: 700;
}
.extrabold, .fw800{
    font-weight: 800;
}
.black, .fw900{
    font-weight: 900;
}


//break-word