
// :root{
//     --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
//     "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;

//     --font-body: Inter, var(--font-fallback);
//     --font-heading: Inter, var(--font-fallback);

//     --base-font-size: 100%;
//     --base-line-height: 1.2;
//     --intermediate-line-height: 1.5;
//     --heading-line-height: var(--base-line-height);
//     --heading-letter-spacing: -0.031rem;
//     --font-content-line-height: 1.75;
//     --font-body-strong-weight: 600;

//     --type-heading-h1-font-size: 2.488rem;
//     --type-heading-h2-font-size: 2.074rem;
//     --type-heading-h3-font-size: 1.728rem;
//     --type-heading-h4-font-size: 1.44rem;
//     --type-heading-h5-font-size: 1.2rem;
//     --type-base-font-size-rem: 1rem;
//     --type-smaller-font-size: 0.833rem;
//     --type-tiny-font-size: 0.694rem;

//     --type-heading-h1-font-size-mobile: 1.802rem;
//     --type-heading-h2-font-size-mobile: 1.602rem;
//     --type-heading-h3-font-size-mobile: 1.424rem;
//     --type-heading-h4-font-size-mobile: 1.266rem;

//     --type-heading-h1: 600 var(--type-heading-h1-font-size-mobile) /
//     var(--heading-line-height) var(--font-heading);
//   --type-heading-h2: 500 var(--type-heading-h2-font-size-mobile) /
//     var(--heading-line-height) var(--font-heading);
//   --type-heading-h3: 300 var(--type-heading-h3-font-size-mobile) /
//     var(--heading-line-height) var(--font-heading);
//   --type-heading-h4: 400 var(--type-heading-h4-font-size-mobile) /
//     var(--heading-line-height) var(--font-heading);
//   --type-heading-h5: 400 var(--type-heading-h5-font-size) /
//     var(--heading-line-height) var(--font-heading);
//   --type-heading-h6: 400 var(--type-base-font-size-rem) /
//     var(--heading-line-height) var(--font-heading);
//   --type-article-p: 400 var(--type-base-font-size-rem) /  var(--font-content-line-height) var(--font-body);
// }

//   @include large(){
//     :root {
//         --type-heading-h1: 600 var(--type-heading-h1-font-size) /
//           var(--heading-line-height) var(--font-heading);
//         --type-heading-h2: 500 var(--type-heading-h2-font-size) /
//           var(--heading-line-height) var(--font-heading);
//         --type-heading-h3: 300 var(--type-heading-h3-font-size) /
//           var(--heading-line-height) var(--font-heading);
//         --type-heading-h4: 400 var(--type-heading-h4-font-size) /
//           var(--heading-line-height) var(--font-heading);
//       }
//   }



.h1{
    --h1-font-size: var(--h1-font-size-sm);
    @include large(){
        --h1-font-size: var(--h1-font-size-lg);
    }
    // --type-heading-h1: 600 var(--h1-font-size)/var(--default-line-height-for-heading) var(--default-font);
    font: 600 var(--h1-font-size)/var(--default-line-height-for-heading) var(--default-font);
}
.h1 {
    font-size: 65.6px;
    font-size: 4.1rem;
    line-height: 50px;
    line-height: 3.125rem;
    word-break: break-word;
    // margin-top: 50px;
    // margin-top: 3.125rem;
    // margin-bottom: 25px;
    // margin-bottom: 1.5625rem; 
}
  

h1,h2,h3 {
    letter-spacing: var(--heading-letter-spacing)
}

h1 {
    font: var(--type-heading-h1);
    margin-bottom: 2rem;
    word-break: break-word;
}

@media screen and (min-width: 769px) {
    h1 {
        font:var(--type-heading-h1)
    }
}

h2 {
    font: var(--type-heading-h2);
    margin: 4rem 0 .5rem
}

h3 {
    font: var(--type-heading-h3);
    margin: 2rem 0 .5rem
}

h2~div~h3,h2~h3 {
    margin-top: 1rem
}

h4 {
    font: var(--type-heading-h4);
    letter-spacing: .5px;
    margin: 2rem 0 1rem
}

h5 {
    font: var(--type-heading-h5)
}

h5,h6 {
    letter-spacing: 1.5px;
    margin: 2rem 0 1rem;
    // text-transform: uppercase
}

h6 {
    font: var(--type-heading-h6)
}
 
p {
    font: var(--type-article-p);
    margin-bottom:1.8rem;
}

/* Makes text upper case*/
.ucase{
    text-transform: uppercase;
}

/* Makes text lower case*/
.lcase{
    text-transform: lowercase;
}

/*capitalizes the first letter of each word*/
.capitalize{
    text-transform: capitalize;
}

// text-align -->
.ta{
    &-left{
        text-align: left;
    }
    
    &-center{
        text-align: center;
    }
    
    
    &-right{
        text-align: right;
    }
    
    &-justify{
        text-align: justify;
    }
}// <--- text-align


.line-throw{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}
.overline{
    text-decoration: overline;
}
.no-underline{
    text-decoration: none !important;
}

.italic{
    font-style: italic;
}

.thin, .fw100{
    font-weight: 100;
}
.extralight, .fw200{
    font-weight: 200;
}
.light, .fw300{
    font-weight: 300;
}
.regular, .fw400{
    font-weight: 400;
}
.medium, .fw500{
    font-weight: 500;
}
.semibold, .fw600{
    font-weight: 600;
}
.bold, .strong, .fw700{
    font-weight: 700;
}
.extrabold, .fw800{
    font-weight: 800;
}
.black, .fw900{
    font-weight: 900;
}