h1 {
    letter-spacing: -0.015em; }

h1 {
    font-size: 65.6px;
    font-size: 4.1rem;
    line-height: 50px;
    line-height: 3.125rem;
    margin-top: 50px;
    margin-top: 3.125rem;
    margin-bottom: 25px;
    margin-bottom: 1.5625rem; 
}
  
  h2 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 37.5px;
    line-height: 2.34375rem;
    margin-top: 75px;
    margin-top: 4.6875rem;
    margin-bottom: 25px;
    margin-bottom: 1.5625rem; }
  
  h3 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 37.5px;
    line-height: 2.34375rem;
    margin-top: 50px;
    margin-top: 3.125rem;
    margin-bottom: 12.5px;
    margin-bottom: 0.78125rem; }
  
  h4 {
    font-size: 19.552px;
    font-size: 1.222rem;
    line-height: 25px;
    line-height: 1.5625rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 6.25px;
    margin-bottom: 0.390625rem; }
  
  h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25px;
    line-height: 1.5625rem;
    margin-top: 62.5px;
    margin-top: 3.90625rem;
    margin-bottom: 12.5px;
    margin-bottom: 0.78125rem; }
  
  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25px;
    line-height: 1.5625rem;
    margin-top: 62.5px;
    margin-top: 3.90625rem;
    margin-bottom: 12.5px;
    margin-bottom: 0.78125rem; }

    @include large(){
        h1 {
            font-size: 97.6px;
            font-size: 6.1rem;
            line-height: 91px;
            line-height: 5.0555555556rem;
            margin-top: 78px;
            margin-top: 4.3333333333rem;
            margin-bottom: 26px;
            margin-bottom: 1.4444444444rem; }
        
          h2 {
            font-size: 48px;
            font-size: 3rem;
            line-height: 45.5px;
            line-height: 2.5277777778rem;
            margin-top: 104px;
            margin-top: 5.7777777778rem;
            margin-bottom: 26px;
            margin-bottom: 1.4444444444rem; }
        
          h3 {
            font-size: 35.68px;
            font-size: 2.23rem;
            line-height: 33.8px;
            line-height: 1.8777777778rem;
            margin-top: 52px;
            margin-top: 2.8888888889rem;
            margin-bottom: 26px;
            margin-bottom: 1.4444444444rem; }
        
          h4 {
            font-size: 19.552px;
            font-size: 1.222rem;
            line-height: 26px;
            line-height: 1.4444444444rem;
            margin-top: 26px;
            margin-top: 1.4444444444rem;
            margin-bottom: 13px;
            margin-bottom: 0.7222222222rem; }
        
          h5 {
            font-size: 16px;
            font-size: 1rem;
            line-height: 26px;
            line-height: 1.4444444444rem;
            margin-top: 65px;
            margin-top: 3.6111111111rem;
            margin-bottom: 13px;
            margin-bottom: 0.7222222222rem; }
        
          h6 {
            font-size: 16px;
            font-size: 1rem;
            line-height: 26px;
            line-height: 1.4444444444rem;
            margin-top: 65px;
            margin-top: 3.6111111111rem;
            margin-bottom: 13px;
            margin-bottom: 0.7222222222rem; }
    }
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     // margin-bottom: .5rem;
//     // font-family: inherit;
//     font-weight: 500;
//     line-height: 1.2;
// }

// .h1, h1 {
//     font-size: 2.5rem;
// }

// .h2, h2 {
//     font-size: 2rem;
// }

// .h3, h3 {
//     font-size: 1.75rem;
// }

// .h4, h4 {
//     font-size: 1.5rem;
// }

// .h5, h5 {
//     font-size: 1.25rem;
// }

// .h6, h6 {
//     font-size: 1rem;
// }

// p, .p{
//     font-size: 1rem;
// }

/* Makes text upper case*/
.ucase{
    text-transform: uppercase;
}

/* Makes text lower case*/
.lcase{
    text-transform: lowercase;
}

/*capitalizes the first letter of each word*/
.capitalize{
    text-transform: capitalize;
}

// text-align -->
.ta{
    &-left{
        text-align: left;
    }
    
    &-center{
        text-align: center;
    }
    
    
    &-right{
        text-align: right;
    }
    
    &-justify{
        text-align: justify;
    }
}// <--- text-align


.line-throw{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}
.overline{
    text-decoration: overline;
}
.no-underline{
    text-decoration: none !important;
}

.italic{
    font-style: italic;
}

.xlight, .fw200{
    font-weight: 200;
}
.light, .fw300{
    font-weight: 300;
}
.regular, .fw400{
    font-weight: 400;
}
.sbold, .fw600{
    font-weight: 600;
}
.bold, .strong, .fw700{
    font-weight: 700;
}
.black, .fw900{
    font-weight: 900;
}