
.fullwidth{
    width:100% !important; 
    @include small(){
        &-sm{
            width:100% !important; 
        }
    }
    @include large(){
        &-lg{
            width:100% !important; 
        }
    }
}
.fullheight{
    width:100% !important; 
}

.fitcontent{
    width: -moz-fit-content;
    width: fit-content !important;
}

.mincontent{
    width: min-content !important;
}

.maxcontent{
    width: max-content !important;
}

@include small(){
    .fullwidth-sm{
        width:100% !important; 
    }
    
    .fitcontent-sm{
        width: -moz-fit-content;
        width: fit-content !important;
    }
    
    .mincontent-sm{
        width: min-content !important;
    }
    
    .maxcontent-sm{
        width: max-content !important;
    }
}
@include large(){
    .fullwidth-lg{
        width:100% !important; 
    }
    
    .fitcontent-lg{
        width: -moz-fit-content;
        width: fit-content !important;
    }
    
    .mincontent-lg{
        width: min-content !important;
    }
    
    .maxcontent-lg{
        width: max-content !important;
    }
}

// @for $i from 1 through 12 {
//     .width-#{$i} {
//         width: #{$i*8.333333333333333}#{"%"};
//       }
// }


// @include lg {  
//     @for $i from 1 through 12 {
//         .lg-width-#{$i} {
//             width: #{$i*8.333333333333333}#{"%"};
//         }
//     }
// }


// @include sm {  
//     @for $i from 1 through 12 {
//         .sm-width-#{$i} {
//             width: #{$i*8.333333333333333}#{"%"};
//         }
//     }
// }